* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; }

html, body {
  width: 100%;
  min-width: 1200px;
  min-height: 100%; }

body {
  line-height: 1.5;
  font-size: 14px;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
  background: #fff; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, li, ul {
  list-style: none; }

input[type=search], input[type=txt] {
  vertical-align: middle; }

input[type="checkbox"], input[type="radio"] {
  margin-right: 3px;
  vertical-align: middle;
  margin-top: -2px; }
  input[type="checkbox"] + label, input[type="radio"] + label {
    margin-right: 10px; }

a {
  color: #333;
  text-decoration: none; }
  a:visited {
    color: #F15A50; }
  a:hover {
    color: #333; }
  a:active {
    color: #333; }

header h2 {
  margin: 20px 0px;
  padding: 20px 0px; }
header h3 {
  margin: 15px 0px;
  padding: 15px 0px; }
header h4 {
  margin: 10px 0px;
  padding: 10px 0px; }
header h6 {
  font-size: 14px;
  margin: 5px 0px;
  padding: 5px 0px; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999; }

@font-face {
  font-family: 'iconfont';
  src: url("font/iconfont.eot");
  src: url("font/iconfont.eot?#iefix") format("embedded-opentype"), url("font/iconfont.woff") format("woff"), url("font/iconfont.ttf") format("truetype"), url("font/iconfont.svg#iconfont") format("svg"); }
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 40px;
  text-align: center; }

.containerAddDealer {
  width: 1200px;
  margin: 0 auto;
  padding: 40px 10px 10px 200px;
  position: relative;
  left: 0;
  top: 0; }
  .containerAddDealer .addDealer table {
    border-collapse: collapse;
    border-spacing: 0;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd; }
    .containerAddDealer .addDealer table caption {
      font-size: 16px;
      margin-bottom: 30px;
      border-bottom: 2px solid #F15A50;
      text-align: left; }
    .containerAddDealer .addDealer table thead {
      background: #f7f7f7; }
    .containerAddDealer .addDealer table td {
      text-align: center;
      border-right: 1px solid #ddd;
      border-top: 1px solid #ddd; }
    .containerAddDealer .addDealer table td:nth-child(even) {
      padding: 5px; }
  .containerAddDealer .addDealer > div {
    padding: 40px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3); }
    .containerAddDealer .addDealer > div:not(:last-of-type) {
      margin-bottom: 20px; }
  .containerAddDealer .addDealer .addAction:before {
    content: "\e6c0";
    display: table;
    position: absolute;
    font-family: iconfont;
    font-size: 60px;
    right: -10px;
    top: 0px;
    transform: rotate(-10deg);
    text-shadow: 1px 1px 5px  #999,1px 3px 7px  #eee;
    color: #dddddd; }
  .containerAddDealer .addDealer .addAction table td:nth-child(even) {
    width: 240px; }
  .containerAddDealer .addDealer .addAction table td:nth-child(odd) {
    width: 150px;
    text-align: right;
    position: relative; }
    .containerAddDealer .addDealer .addAction table td:nth-child(odd):before {
      content: "*";
      position: absolute;
      right: 9px;
      top: 3px;
      display: table;
      color: red; }
  .containerAddDealer .addDealer .addAction table input {
    width: 240px;
    outline: none;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(241, 90, 80, 0.3);
    cursor: pointer;
    vertical-align: middle;
    transition: all .3s;
    color: #333;
    text-align: left;
    border: 1px solid #ddd;
    text-indent: 10px; }
    .containerAddDealer .addDealer .addAction table input:focus {
      color: #333;
      background: #fff;
      box-shadow: 0px 0px 0px 5px rgba(241, 90, 80, 0.3);
      border: 1px solid #F15A50; }
  .containerAddDealer .addDealer .addAction p {
    text-align: left;
    margin: 20px 0px; }
    .containerAddDealer .addDealer .addAction p button {
      width: 90px;
      outline: none;
      height: 40px;
      font-size: 16px;
      line-height: 40px;
      background: #F15A50;
      border-radius: 5px;
      box-shadow: 0px 0px 3px rgba(241, 90, 80, 0.3);
      cursor: pointer;
      vertical-align: middle;
      transition: all .3s;
      color: #fff;
      text-align: center;
      border: 1px solid #F15A50; }
      .containerAddDealer .addDealer .addAction p button:hover, .containerAddDealer .addDealer .addAction p button:focus {
        background: #F15A50; }
      .containerAddDealer .addDealer .addAction p button:active {
        color: #F15A50;
        background: #fff;
        box-shadow: 0px 0px 0px 5px rgba(241, 90, 80, 0.3); }
  .containerAddDealer .addDealer .addList {
    width: 100%; }
    .containerAddDealer .addDealer .addList table td {
      width: 15%; }
      .containerAddDealer .addDealer .addList table td:nth-child(6n+1) {
        width: 5%; }

/*# sourceMappingURL=addDealer.css.map */
