/*header*/
header {
  width: 100%;
  height: 30px;
  background: #f5f5f5;
  line-height: 30px;
  font-size: 12px;
}
header .container > ul:first-of-type {
  float: left;
}
header .container > ul:nth-of-type(2),
header .container > ul:last-of-type {
  float: right;
}
header .container > ul > li {
  float: left;
  padding: 0px 3px;
}
/*header*/
/*navigation*/
.navigation {
  padding-top: 10px;
  height: 86px;
}
.navigation .container > a {
  float: left;
  display: block;
  width: 321px;
  height: 43px;
  text-indent: -999em;
  background: url("../img/logo.png") no-repeat;
  margin: 22px 30px 22px 0px;
}
.navigation .container > nav {
  height: 86px;
  float: left;
  line-height: 20px;
  font-size: 18px;
  text-align: center;
}
.navigation .container > nav > ul {
  padding: 14px 8px;
}
.navigation .container > nav > ul > li {
  float: left;
  position: relative;
  left: 0;
  top: 0;
  padding: 8px 16px;
  background: #fff;
  transition: all .3s;
}
.navigation .container > nav > ul > li a {
  color: #333;
  display: block;
  width: 100%;
  height: 100%;
}
.navigation .container > nav > ul > li a small {
  font-size: 12px;
  color: #999;
}
.navigation .container > nav > ul > li > ul {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 100%;
  padding-top: 7px;
  transition: all .3s;
  text-align: center;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
}
.navigation .container > nav > ul > li > ul li {
  padding: 10px;
}
.navigation .container > nav > ul > li > ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #666;
  text-decoration: none;
}
.navigation .container > nav > ul > li > ul li:hover {
  background: #f15a50;
  border-radius: 5px;
}
.navigation .container > nav > ul > li > ul li:hover a {
  color: #fff;
}
.navigation .container > nav > ul > li > ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.navigation .container > nav > ul > li > ul:before {
  content: '';
  position: absolute;
  border-width: 10px;
  border-color: #f15a50 transparent transparent transparent;
  border-style: solid dashed dashed dashed;
  top: -1px;
  left: 50%;
  margin-left: -10px;
}
.navigation .container > nav > ul > li.active {
  background: #f15a50;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 0px 5px 0px rgba(241, 90, 80, 0.3);
}
.navigation .container > nav > ul > li.active > a {
  color: #fff;
}
.navigation .container > nav > ul > li.active > a small {
  color: #fff;
}
.navigation .container > nav > ul > li.active ul {
  border: 1px solid rgba(241, 90, 80, 0.3);
  opacity: 1;
}
.navigation .container > nav > ul > li.active ul li {
  background: #fff;
}
