* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; }

html, body {
  width: 100%;
  min-width: 1200px;
  min-height: 100%; }

body {
  line-height: 1.5;
  font-size: 14px;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
  background: #fff; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, li, ul {
  list-style: none; }

input[type=search], input[type=txt] {
  vertical-align: middle; }

input[type="checkbox"], input[type="radio"] {
  margin-right: 3px;
  vertical-align: middle;
  margin-top: -2px; }
  input[type="checkbox"] + label, input[type="radio"] + label {
    margin-right: 10px; }

a {
  color: #333;
  text-decoration: none; }
  a:visited {
    color: #F15A50; }
  a:hover {
    color: #333; }
  a:active {
    color: #333; }

header h2 {
  margin: 20px 0px;
  padding: 20px 0px; }
header h3 {
  margin: 15px 0px;
  padding: 15px 0px; }
header h4 {
  margin: 10px 0px;
  padding: 10px 0px; }
header h6 {
  font-size: 14px;
  margin: 5px 0px;
  padding: 5px 0px; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999; }

@font-face {
  font-family: 'iconfont';
  src: url("font/iconfont.eot");
  src: url("font/iconfont.eot?#iefix") format("embedded-opentype"), url("font/iconfont.woff") format("woff"), url("font/iconfont.ttf") format("truetype"), url("font/iconfont.svg#iconfont") format("svg"); }
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 40px;
  text-align: center; }

.containerMemRv {
  width: 1200px;
  margin: 0 auto;
  padding: 0px;
  position: relative;
  left: 0;
  top: 0; }
  .containerMemRv > main {
    width: 100%;
    padding: 40px 0px 40px 200px; }
    .containerMemRv > main .mem-list {
      background: linear-gradient(45deg, #eeeeee 50%, #2980b9 50%);
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #eeeeee), color-stop(100%, #ddd));
      background-size: 5px 5px;
      border: 1px solid #ddd;
      padding: 20px;
      overflow: hidden;
      box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3); }
    .containerMemRv > main section:first-of-type .mem-list > div {
      height: auto;
      width: 100%;
      padding-left: 160px;
      position: relative;
      left: 0;
      top: 0; }
      .containerMemRv > main section:first-of-type .mem-list > div span {
        position: absolute;
        left: 0;
        top: 0;
        width: 150px;
        height: 40px;
        line-height: 40px;
        text-align: right; }
      .containerMemRv > main section:first-of-type .mem-list > div > ul {
        width: 100%;
        height: 40px;
        line-height: 40px;
        overflow: hidden; }
        .containerMemRv > main section:first-of-type .mem-list > div > ul li {
          float: left; }
          .containerMemRv > main section:first-of-type .mem-list > div > ul li > ul {
            color: #999999;
            height: 20px;
            line-height: 20px; }
    .containerMemRv > main section:nth-of-type(2) .mem-list > div {
      height: auto;
      width: 45%;
      float: left; }
      .containerMemRv > main section:nth-of-type(2) .mem-list > div h6 {
        margin: 5px 0px; }
    .containerMemRv > main section:nth-of-type(3) .mem-list > div textarea {
      width: 100%;
      padding: 10px;
      line-height: 21px; }

/*# sourceMappingURL=memberReview.css.map */
