@import "reset";
.containerOrderProList {
  @include container(40px 10px 10px 200px);
  @include posrel;
  article{
    @include border(all,nth($borderColor,1));
    @include boxShadow;
    padding: 20px;
    h4{text-align:center;font-size: 16px;}
    table{
      @include table;
      td{
        padding:6px 12px;
        &:first-of-type{width: 100px}
        &:nth-of-type(2){width: 225px}
        &:nth-of-type(3){width:150px }
        &:nth-of-type(4){width:200px }
        &:nth-of-type(5){width: 150px}
        &:nth-of-type(6){width:100px}
        &:nth-of-type(7){width:100px }
      }
      button{
        @include input(button,90px,$themeColor)
      }
    }
  }
}