* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; }

html, body {
  width: 100%;
  min-width: 1200px;
  min-height: 100%; }

body {
  line-height: 1.5;
  font-size: 14px;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
  background: #fff; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, li, ul {
  list-style: none; }

input[type=search], input[type=txt] {
  vertical-align: middle; }

input[type="checkbox"], input[type="radio"] {
  margin-right: 3px;
  vertical-align: middle;
  margin-top: -2px; }
  input[type="checkbox"] + label, input[type="radio"] + label {
    margin-right: 10px; }

a {
  color: #333;
  text-decoration: none; }
  a:visited {
    color: #F15A50; }
  a:hover {
    color: #333; }
  a:active {
    color: #333; }

header h2 {
  margin: 20px 0px;
  padding: 20px 0px; }
header h3 {
  margin: 15px 0px;
  padding: 15px 0px; }
header h4 {
  margin: 10px 0px;
  padding: 10px 0px; }
header h6 {
  font-size: 14px;
  margin: 5px 0px;
  padding: 5px 0px; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999; }

@font-face {
  font-family: 'iconfont';
  src: url("font/iconfont.eot");
  src: url("font/iconfont.eot?#iefix") format("embedded-opentype"), url("font/iconfont.woff") format("woff"), url("font/iconfont.ttf") format("truetype"), url("font/iconfont.svg#iconfont") format("svg"); }
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 40px;
  text-align: center; }

.containerProfilter .pro-filter {
  font-size: 12px;
  padding: 20px 0px; }
  .containerProfilter .pro-filter .pf-sbtn {
    width: 350px;
    height: 40px;
    margin-bottom: 20px;
    position: relative;
    left: 0;
    top: 0; }
    .containerProfilter .pro-filter .pf-sbtn i {
      position: absolute;
      left: 0px;
      top: 2px;
      width: 40px;
      height: 40px; }
    .containerProfilter .pro-filter .pf-sbtn input {
      width: 240px;
      height: 40px;
      border-radius: 5px;
      border: 1px solid #ddd;
      text-indent: 40px; }
    .containerProfilter .pro-filter .pf-sbtn button {
      vertical-align: middle;
      width: 90px;
      outline: none;
      height: 40px;
      font-size: 16px;
      line-height: 40px;
      background: #F15A50;
      border-radius: 5px;
      box-shadow: 0px 0px 3px rgba(241, 90, 80, 0.3);
      cursor: pointer;
      vertical-align: middle;
      transition: all .3s;
      color: #fff;
      text-align: center;
      border: 1px solid #F15A50; }
      .containerProfilter .pro-filter .pf-sbtn button:hover, .containerProfilter .pro-filter .pf-sbtn button:focus {
        background: #F15A50; }
      .containerProfilter .pro-filter .pf-sbtn button:active {
        color: #F15A50;
        background: #fff;
        box-shadow: 0px 0px 0px 5px rgba(241, 90, 80, 0.3); }
  .containerProfilter .pro-filter .pf-list {
    width: 100%;
    height: auto;
    position: relative; }
    .containerProfilter .pro-filter .pf-list .pf-lbtn {
      width: 180px;
      outline: none;
      height: 40px;
      font-size: 16px;
      line-height: 40px;
      background: #F15A50;
      border-radius: 5px;
      box-shadow: 0px 0px 3px rgba(241, 90, 80, 0.3);
      cursor: pointer;
      vertical-align: middle;
      transition: all .3s;
      color: #fff;
      text-align: center;
      border: 1px solid #F15A50;
      overflow: hidden;
      width: 150px;
      height: 40px;
      position: absolute;
      right: 0px;
      top: -60px;
      line-height: 40px;
      text-align: center;
      border-radius: 5px; }
      .containerProfilter .pro-filter .pf-list .pf-lbtn:hover, .containerProfilter .pro-filter .pf-list .pf-lbtn:focus {
        background: #F15A50; }
      .containerProfilter .pro-filter .pf-list .pf-lbtn:active {
        color: #F15A50;
        background: #fff;
        box-shadow: 0px 0px 0px 5px rgba(241, 90, 80, 0.3); }
      .containerProfilter .pro-filter .pf-list .pf-lbtn i {
        position: absolute;
        right: -10px;
        top: 0;
        width: 40px;
        height: 40px;
        transform: rotate(0deg);
        transition: transform .5s ease-in-out; }
        .containerProfilter .pro-filter .pf-list .pf-lbtn i.rotate {
          transform: rotate(90deg); }
    .containerProfilter .pro-filter .pf-list .pf-ldet {
      display: none;
      width: 100%;
      line-height: 34px;
      border: 1px solid #ddd;
      border-radius: 5px; }
      .containerProfilter .pro-filter .pf-list .pf-ldet > div:not(:last-child) {
        width: 100%;
        height: auto;
        overflow: hidden;
        border-bottom: 1px solid #eee; }
        .containerProfilter .pro-filter .pf-list .pf-ldet > div:not(:last-child) span {
          float: left;
          width: 140px;
          height: 34px;
          line-height: 34px;
          padding-left: 10px;
          text-align: right; }
        .containerProfilter .pro-filter .pf-list .pf-ldet > div:not(:last-child) ul {
          padding-left: 30px;
          overflow: hidden; }
          .containerProfilter .pro-filter .pf-list .pf-ldet > div:not(:last-child) ul li {
            float: left;
            height: 34px;
            line-height: 34px;
            margin-right: 16px; }
      .containerProfilter .pro-filter .pf-list .pf-ldet .pf-lnum {
        overflow: hidden; }
        .containerProfilter .pro-filter .pf-list .pf-ldet .pf-lnum div {
          float: left;
          width: 325px;
          padding-left: 10px;
          padding-bottom: 10px; }
          .containerProfilter .pro-filter .pf-list .pf-ldet .pf-lnum div span {
            float: none; }
          .containerProfilter .pro-filter .pf-list .pf-ldet .pf-lnum div p {
            text-align: center; }
            .containerProfilter .pro-filter .pf-list .pf-ldet .pf-lnum div p em {
              display: inline-block;
              padding: 0px 5px; }
            .containerProfilter .pro-filter .pf-list .pf-ldet .pf-lnum div p input {
              width: 90px;
              text-align: center;
              height: 30px;
              border: 1px solid #ddd; }

/*# sourceMappingURL=proFilter.css.map */
